body {
    /*font:12px "microsoft yahei",Arial;*/
    color: #666;
    margin: 0;
    padding: 0;
    font: normal 12px/1.6em Microsoft YaHei, Tahoma, simsun;
}


/*具有margin，padding，list-style样式元素效果重置*/

ul,
dl,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    border: 0;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.clear {
    clear: both;
}

img {
    vertical-align: bottom;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #ff0700;
    text-decoration: underline;
}


/*导航栏*/

#top {
    width: 100%;
    background-color: #0b0b0b;
}

#dh {
    width: 1280px;
    height: 100px;
    background-color: #0b0b0b;
    margin: 0 auto;
}

#dh img {
    float: left;
}

#dh>.logo {
    float: left;
    width: 188px;
    height: 96px;
    margin-top: 2px;
    background: url(../img/logo.png)0px -28px no-repeat;
    z-index: 150;
}

#yx {
    float: left;
}

#yx li {
    margin-left: 20px;
    width: 100px;
    height: 100px;
    float: left;
    line-height: 100px;
    text-align: center;
    font-size: 15px;
}

#yx li.tp p {
    display: inline-block;
    margin-top: 20px;
}

#yx li.tp b {
    display: inline-block;
    margin-left: 20px;
}

#yx li.tpp img {
    margin-top: 10px;
}

#dh div.wz {
    width: 200px;
    height: 100px;
    float: left;
}

#dh div.wz h2 {
    font-size: 18px;
    margin-top: 20px;
}

#dh div.wz h2 a {
    color: #d9ba81;
}

#dh div.wz h3 {
    font-size: 12px;
}


/*下拉子菜单*/

#xiala {
    width: 100%;
    height: 300px;
    background-color: #000;
    position: absolute;
    opacity: 0.8;
    top: 100px;
    margin: 0 auto;
    z-index: 100;
    display: none;
}

#xiala>.xszy {
    width: 110px;
    height: 200px;
    position: absolute;
    left: 340px;
    top: 30px;
}

#xiala>.xszy li {
    width: 110px;
    height: 28px;
    font-size: 15px;
    color: #fff;
}

#xiala>.djcz {
    width: 110px;
    height: 250px;
    position: absolute;
    left: 480px;
    top: 30px;
}

#xiala>.djcz li {
    width: 110px;
    height: 28px;
    font-size: 15px;
    color: #fff;
}

#xiala>.zxkf {
    width: 110px;
    height: 200px;
    position: absolute;
    left: 620px;
    top: 30px;
}

#xiala>.zxkf li {
    width: 110px;
    height: 28px;
    font-size: 15px;
    color: #fff;
}

#xiala>.qqzjx {
    width: 110px;
    height: 200px;
    position: absolute;
    left: 750px;
    top: 30px;
}

#xiala>.qqzjx li {
    width: 110px;
    height: 28px;
    font-size: 15px;
    color: #fff;
}

#xiala>.qqzjs {
    width: 110px;
    height: 200px;
    position: absolute;
    left: 880px;
    top: 30px;
}

#xiala>.qqzjs li {
    width: 110px;
    height: 28px;
    font-size: 15px;
    color: #fff;
}

#xzshz {
    width: 100%;
    height: 353px;
}

#xzshz img {
    width: 100%;
    height: 353px;
    position: relative;
}

#xzshz p {
    width: 150px;
    height: 30px;
    opacity: 0.8;
    position: absolute;
    top: 340px;
    right: 150px;
    text-align: center;
    line-height: 30px;
}

#xzshz p a {
    color: #f5d185;
    text-decoration: none;
}

#xzshz b {
    text-align: center;
    width: 80px;
    height: 20px;
    border: 3px #e4c181 solid;
    background-color: #333;
    opacity: 0.9;
    position: absolute;
    right: 50px;
    top: 340px;
    color: #e4c181;
    text-align: center;
    line-height: 20px;
}

#xzshz b:hover {
    background-color: #000;
    cursor: pointer;
    opacity: 1;
}